{% extends 'base.html.twig' %}

{% block title %}liste vehicule{% endblock %}

{% block body %}
<div class="container">
<h1>liste des voitures</h1>
<div class="row no-gutters ">
{% for voiture in voitures %}
<div class="col-12 col-lg-6 p1">
    <div class="card" style="width: 18rem;">
  <img src="{{asset('images/' ~ voiture.modele.image )}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{voiture.modele.libelle}}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item"> <a href="{{path('show',{'id': voiture.id})}}"{{voiture.modele.marque.libelle}}</a></li>

    <li class="list-group-item">{{voiture.immatriculation}}</li>
    <li class="list-group-item">{{voiture.nbPortes}}</li>
    <li class="list-group-item">{{voiture.annee}}</li>
  </ul>
  
</div>
</div>
{% endfor %}
</div>
</div>
<div class="navigation">
    {{ knp_pagination_render(voitures) }}
</div>
{% endblock %}
